.News{
  text-align: center;
  margin-bottom: 5px;
  --spacing-8: 1rem;

}

.letter h1 {
  font-size: 38px;
  font-weight: 600;
}

.letter p{
  font-size: 18px;
}

.form{
position: relative;
align-self: center;

}

.btn_send{
  padding: 9px 20px;
  border: 1px solid #1871ed;
  font-size: 12px;
  font-weight: 600;
  background: #1871ed;
  color:aliceblue;
  border-radius: 5%;
  }

  .subscribe-email{
    text-align: left;
    height: 35px;
    width: 400px;
  }

  button{
    margin-left: 10px;
    height: 35px;
    padding: 5 20;
  }

