#app { height: 100% }
html,
body {
  position: relative;
  height: 90%;
}


body {
  background: #fffefc;
  font-family: Inter, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Style the image in silder */
.slider-image-holder img{
  /* width: 80%!important; */
  width: 90%;

}

/* Style the slider */
.swiper {
  width: 90%;
  height: 90%;
}
.swiper-button-prev::after{
  padding: 4px 7px;
}
.swiper-button-next:after{
  padding: 4px 10px;
}
.swiper-button-prev::after,.swiper-button-next:after {
  font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(188, 215, 250);;
    color:#3793ee; 
    height: 28px;
    width: 28px;
    border-radius: 100%;
}

.swiperslide{
  padding: 10px;
}

